{{define "body"}}
  <div id="content">
  </div>

  <div class="container">
    <div class="row" style="margin-top: 5em;">
      <div class="col-xs-12 text-center">
        <h1>
          The page you are looking for could not be found.
        </h1>
        <h2>
          <a href="/" alt="Return to home page.">How about you just return to the home page and pretend this never happened.</a>
        </h2>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/scripts/common.js"></script>
  <script type="text/javascript" src="/scripts/simple-page.js"></script>
{{end}}