<html>
  <head>
    <title>Refer Madness</title>

    <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">

    <link rel="stylesheet" href="/css/lib/bootstrap.min.css" async>
    <link rel="stylesheet" href="/css/style.css" async>

    <link href='//fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css' async>
    <link href='//fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css' async>
    
    <script type="text/javascript" src="//fb.me/react-0.13.0.js"></script>
    <script type="text/javascript" src="/scripts/vendor/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/ZeroClipboard.min.js"></script>
    <script type="text/javascript" src="/scripts/vendor/bootstrap.min.js"></script>
  </head>
  <body>
    {{template "body" .}}

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <small class="pull-left">© 2015 <a href="//larry-price.com">Larry Price</a></small>
          </div>
          <div class="col-sm-3 hidden-xs text-center">
            <small><a href="mailto:larry@larry-price.com">Contact</a></small>
          </div>
          <div class="visible-xs col-xs-6">
            <small class="pull-right"><a href="mailto:larry@larry-price.com">Contact</a></small>
          </div>
          <div class="col-sm-3 hidden-xs text-center">
            <small><a href="/legal">Legal</a></small>
          </div>
          <div class="visible-xs col-xs-6">
            <small class="pull-left"><a href="/legal">Legal</a></small>
          </div>
          <div class="col-sm-3 col-xs-6">
            <small class="pull-right"><a href="//github.com/larryprice/refermadness">Source</a></small>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
