{{define "body"}}
  <div id="content">
  </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <h2 class="pull-right">
            Jump To:
          </h2>
        </div>
        <div class="col-xs-4 text-center">
          <h2>
            <a href="#terms">Terms of Service</a>
          </h2>
        </div>
        <div class="col-xs-4 text-center">
          <h2>
            <a href="#privacy">Privacy Policy</a>
          </h2>
        </div>
      </div>
      <div id="terms" name="terms">
        <h2>Terms of Service</h2>
        <h5>Last Updated: May 27, 2015</h5>
        <h3>User Agreement</h3>
        <p>
          By using Refer Madness ("Service"), provided by Larry Price ("LRP"), you, are agreeing to be bound by the following terms and conditions ("Terms of Service"). LRP hereby grants you a limited, non-exclusive license to utilize the Service as set forth herein.
        </p>
        <p>
          LRP reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. A link to the most current Terms of Service will be available within the Service.
        </p>
        <p>
          LRP reserves the right to terminate this license, your account, and your access to the Service for any reason, or no reason, in LRP's sole discretion. You agree to use the Service at your own risk.
        </p>
        <h3>
          Account Terms
        </h3>
        <p>
          The Service is available to individuals over the age of 18. To access the Service, you must provide the following: valid email address(es) and Trello username in order to complete the sign up and integration process.
        </p>
        <p>
          Each login may only be used by one person. You agree that you are responsible for maintaining the security of your account name and password. LRP cannot and will not be liable for any loss or damage from your failure to comply with this security obligation. You further agree that you are responsible for all User Content (defined below) posted and all activity that occurs under your account (even when such User Content is posted by others).
        </p>
        <p>
      You agree not to participate in the following activities: (a) utilizing any robot, spider or other automatic device, or a manual process, to monitor or copy the content within the Service or for any other unauthorized purpose; (b) using any device, software or routine to interfere or attempt to interfere with the proper working of the Service; (c) modifying, adapting, decompiling, reverse engineering, disassembling or otherwise attempting to obtain the source code for the Service; (d) taking any action that imposes an unreasonable or disproportionately large load on the Service's hardware and software infrastructure;  (e) uploading any worm, virus, Trojan horse, or other malicious content to the Service; and (f) participating in verbal, physical, written or other abuse (including threats of abuse or retribution) of any member of the Service or LRP employee.
        </p>
        <p>
      You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright or trademark laws).
      <h3>Copyright and Content Ownership</h3>
        <p>
      By posting or providing content, such as, for example, posts, emails, messages, answers to forms, videos, audio, images (collectively, the "User Content") to the Service, you grant LRP and his affiliates the right to use, publish, reproduce and display such User Content on the Site. You agree that any materials posted by you shall not infringe or violate the rights of any other party or violate any laws or otherwise be obscene, objectionable, or in poor taste. You further agree that you have obtained all necessary rights and license required to allow the posting of any User Content. LRP may use anonymous and/or aggregated data provided by you to improve products and services and provide benchmarking reports to third-parties.
        </p>
        <p>
      LRP may, but has no obligation to, remove User Content and accounts containing User Content that LRP determines, in his sole discretion, are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.
        </p>
        <p>
      The Service is copyright ©2015 Larry Price under the GNU Affero Version 3 Public License: <a target="blank" href="https://raw.githubusercontent.com/larryprice/refermadness/master/LICENSE">https://raw.githubusercontent.com/larryprice/refermadness/master/LICENSE</a>.

      <h3>Cancellation and Termination</h3>
      <p>
      You can cancel your account at any time by logging into your account and clicking on the Account Settings gear. You agree that any User Content or related data you provide to the Service may be deleted from the Service upon cancellation. LRP provides no guarantee of data recovery upon account cancellation.
        </p>
        <p>
      LRP, in his sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service, or any other LRP service, for any reason, or no reason, at any time. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account. LRP reserves the right to refuse service to anyone for any reason at any time.
      <h3>Modifications to the Service and Prices</h3>
      <p>
      LRP reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice. LRP shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.
      <h3>Disclaimer and Limitation of Liability</h3>
      <p>
      THE SERVICE IS PROVIDED BY LRP "AS IS." NEITHER LRP NOR ITS PARTNERS OR AFFILIATES MAKE ANY REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE SERVICE, ITS CONTENTS, OR ANY INFORMATION MADE AVAILABLE BY OR THROUGH THE SERVICE. IN ADDITION, LRP DISCLAIMS ALL WARRANTIES WITH RESPECT TO THE SERVICE, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. FURTHERMORE, LRP DOES NOT WARRANT THAT USE OF THE SERVICE WILL BE UNINTERRUPTED, AVAILABLE AT ANY TIME OR FROM ANY PARTICULAR LOCATION, SECURE OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SERVICE IS FREE OF VIRUSES OR OTHER POTENTIALLY HARMFUL COMPONENTS.
        </p>
        <p>
      IN NO EVENT WILL LRP BE LIABLE FOR DIRECT, INDIRECT, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES (INCLUDING WITHOUT LIMITATION THOSE RESULTING FROM LOST PROFITS, LOST DATA OR BUSINESS INTERRUPTION) ARISING OUT OF THE USE, INABILITY TO USE, OR THE RESULTS OF USE OF THE SERVICE, WHETHER SUCH DAMAGES ARE BASED ON WARRANTY, CONTRACT, TORT OR ANY OTHER LEGAL THEORY AND WHETHER OR NOT LRP HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        </p>
        <p>
      YOU HEREBY RELEASE LRP, ITS PARTNERS AND AFFILIATES FROM ANY DEMANDS, CLAIMS, LIABILITY OR DAMAGES DUE TO THE USE OR LOSS OF ANY USER CONTENT OR DATA THROUGH THE SERVICE AND FOR ANY INAPPROPRIATE OR ILLEGAL USE OF THE SERVICE BY YOU OR OTHERS.  LRP IS NOT RESPONSIBLE FOR ANY USER CONTENT.  IN THE EVENT OF ANY CLAIM AGAINST LRP RELATED TO (A) YOUR USE OF THE SERVICE, (B) YOUR BREACH OF THESE TERMS OF SERVICE, OR (C) ANY USER CONTENT OR PERSONAL DATA, YOU WILL DEFEND, INDEMNIFY AND HOLD HARMLESS LRP, ITS PARTNERS AND AFFILIATES FROM AND AGAINST ALL DAMAGES, LOSSES, AND EXPENSES OF ANY KIND (INCLUDING REASONABLE LEGAL FEES AND COSTS) RELATED TO SUCH CLAIM.
      <h3>General Conditions</h3>
      <p>
        These Terms of Service will be governed by and construed in accordance with the laws of the State of Indiana without regard to its conflicts of law provisions. You hereby agree that any cause of action you may have with respect to the Service must be exclusively filed in the federal or state courts located in Hamilton County, Indiana or Marion County, Indiana, within one (1) year after the cause of action arises or the cause is barred.
        <br/>
        You acknowledge and agree that LRP uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service. You understand that the technical processing and transmission of the Service, including your Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
        <br/>
        The failure of LRP to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and LRP concerning your use of the Service, superseding any prior agreements between you and LRP (including, but not limited to, any prior versions of the Terms of Service).
      </p>
      <h3>Contact</h3>
      <p>
        Questions about the Terms of Service should be sent to <a href="mailto:legal@refer-madness.com">legal@refer-madness.com</a>.
      </p>
    </div>
    <hr />
  <div id="privacy" name="privacy">
  <h2>Privacy Policy</h2>
<h5>Last Updated: May 27, 2015</h5>
<p>Larry ("LRP") understands that security and privacy are important issues for visitors to our website and users of the web application provided thereon (collectively, the "Service"). The following Privacy Policy (the "Policy") sets forth LRP's privacy practices and the possible uses of the information that LRP gathers via the Service.</p>
<h3>Collection of Information</h3>
<h3>Voluntarily Provided Information</h3>
  <p>
      You may be asked to voluntarily provide name(s), email address (es) or other personally identifiable information to create an account and participate in the Service. By registering an account, using the Service and providing us with such information, you consent to our use of such information as described in this Policy. You may be asked to provide information about other members of your organization or others authorized by you to use the Service.
  </p>
  <h3>Cookies and Statistics</h3>
  <p>
    We may collect information through the use of common information-gathering tools such as web beacons, cookies and server logging. A cookie is a small string of text that a website can send to your browser which helps the Service remember and customize visits. For example, cookies allow us to tailor the Service to better match your interests and preferences. With most Internet browsers or other software, you can erase cookies from your computer hard drive, block all cookies or receive a warning before a cookie is stored. Please refer to your browser instructions to learn more about these functions. If you reject cookies, you may not be able to participate in the Service.
  </p>
  <p>
      We may also use single-pixel images within the Service or in our emails to you (web beacons). This technology tells us more about browsing, click-tracking, viewing, and other activity, but none of your personally-identifiable information is transmitted through this technology.
  </p>
  <p>
      We may also collect other information, including but not limited to server logging that your web browser or device provides to us when you use the Service, your IP address, the type of browser you are using, a referring URL, and other information contained in HTTP headers. Please note that we do not currently respond to any “Do Not Track (DNT)” browser signals. 
  </p>
  <h3>Use of Information</h3>
  <h3>Account Administration </h3>
  <p>
    LRP may use information obtained through your use of the Service to administer your account. LRP may use your information to respond to questions or requests that are submitted via the Service and/or to provide other requested customer support.
  </p>
  <h3>Aggregation and Combination of Information</h3>
  <p>
      LRP may, on occasion, combine information collected through the Service with information that we collect from other sources. LRP may aggregate information provided to us with information about other users of the Service. LRP may publicly disclose or sell to third parties the aggregated information to display industry trends, usage statistics, and provide general analytics information about the Service.
    </p>
  <h3>Information Sharing</h3>
  <p>
      LRP may disclose your information to third parties for the following purposes:
    </p>
    <ol type="a">
      <li>
        Law Enforcement. Your information may be shared with law enforcement officials if it relates to a criminal investigation or alleged illegal activity.
      </li>
      <li>
        Necessary or for Safety Reasons.  LRP may also disclose your information if required or permitted to do so by law, for fraud protection and credit risk reduction purposes, or in the good-faith belief that such action is necessary to protect and defend the rights or property of LRP or the users of the Service, to act under urgent circumstances to protect the safety of LRP or its employees or a member of the public, or to comply with a judicial proceeding, court order, or legal process. 
      </li>
      <li>
        Service Providers. LRP may disclose your information to our third party service providers who assist in developing, maintaining, or enhancing the Service. Each third party service provide with whom we disclose your information commits to the privacy practices detailed in this Policy.
      </li>
      <li>
        Sale or Acquisition of Assets.  If LRP becomes involved in a transaction involving the sale of its assets, such as a merger or acquisition, or if LRP is transferred to another company, LRP may disclose and/or transfer your information as part of the transaction. If the surviving entity in that transaction is not LRP, the surviving company may use your information pursuant to their own privacy policies, and those policies may be different from this Policy. 
      </li>
    </ol>

  <h3>Privacy of Children</h3>
  <p>
      The Service is not designed nor intended to collect personal information from children under the age of 13.  We do not knowingly collect personal information from anyone under the age of 13.  We do not use such information, and will take reasonable measures to delete it if we discover that it is has been provided. The Service is not child-directed site in whole or in part.  The Service does not target children under the age of 13 as a primary or secondary audience.
    </p>

  <h3>External Links</h3>
  <p>
      The Service may contain links to other sites on the Internet that are owned and operated by third parties. LRP is not responsible for the collection or use of your information at any third party sites. Your use of an external website or any informational content found on an external websites is subject to and governed by the terms and guidelines of those website(s).  LRP does not endorse or make any representations or warranties concerning, and will not in any way be liable for, any informational content, products, services, software, or other materials available on an external website, even if one or more pages of the external website are framed within a page of this Site. 
    </p>

  <h3>Security</h3>
  <p>
      We employ commercially reasonable standards to protect personally-identifiable information and through use of the Site. We may use third party service providers to store your information, provide functionality to you through the Service, or otherwise assist in supporting the Site. We cannot ensure or warrant the security of any personally-identifiable information, and you provide such information at your own risk.
    </p>

  <h3>Modifications</h3>
  <p>
      This Policy was last modified at the date first printed above. LRP may modify this Policy at any time, and, accordingly, we urge you to frequently review this page. 
    </p>

  <h3>Updating Information</h3>
  <p>
      If you ever wish to access your personally-identifiable information, or to have your personally-identifiable information deleted, updated, changed or modified, please contact LRP by email at legal@refer-madness.com or through the contact information below.
    </p>

  <h3>Contact</h3>
    <p>
      Questions or comments about this Policy should be sent to <a href="mailto:legal@refer-madness.com">legal@refer-madness.com</a>.
    </p>
  </div>

  <script type="text/javascript" src="/scripts/common.js"></script>
  <script type="text/javascript" src="/scripts/simple-page.js"></script>
{{end}}