.account-home {
  .login-settings {
    h2 {
      margin-top: 1em;
    }

    button {
      white-space: normal;

      .glyphicon {
        margin-right: .5em;
        top: 3px;
      }

      &.switch-accounts {
        margin-top: 2em;
      }

      &.delete-account {
        margin-top: 2em;
        margin-bottom: 3em;

        transition: opacity .5s, margin-top .3s .2s, height .5s .1s;
        opacity: 1;

        &.fade-out {
          opacity: 0;
          height: 0;
          margin-top: -15px;
        }
      }
    }

    .desperate-delete-message, .apologetic-delete-message, .warning-delete-message {
      margin-bottom: 1em;

      button {
        margin-top: 1em;
      }

      &.collapsing {
        max-height: 230px;
      }

      .cancel-account-deletion {
        margin-left: 1em;
      }
    }
  }

  .user-referral-codes {
    border-top: .1em dotted whitesmoke;
  }
}