#content {
  font-size: 28px;
  font-family: 'Muli', sans-serif;
  background-color: $green;
  color: whitesmoke;
}

.title {
  margin-top: 0;
  padding-top: 0.2em;
  font-family: 'Monoton', cursive;
  font-size: 56px;
  transition: font-size 2s;

  &.fast {
    transition: font-size 1s;
  }

  a {
    color: white;
    text-decoration: none;
  }

  &.shrink {
    font-size: 48px;
  }
}

.login-btn {
  margin-top: 1em;

  .glyphicon {
    font-size: 12px;
    margin-right: .5em;
  }
}

#authenticate-panel {
  background-color: $lightest-green;

  .glyphicon-question-sign {
    font-size: 14px;
    vertical-align: top;
    cursor: pointer;
  }

  button {
    font-size: 24px;
    margin-top: 1.5em;
    margin-bottom: .5em;

    .google-plus {
      background-image: url("/img/google-plus.png");
      background-repeat: no-repeat;

      background-size: 24px 24px;;

      width: 24px;
      height: 24px;
      top: .2em;
      margin-right: .5em;
    }
  }

  #login-faq {
    .login-faq-question, .login-faq-answer {
      font-size: 16px;
      text-align: left;
    }

    .login-faq-answer {
      margin-left: 1em;
    }
  }
}

@media (min-width: 380px) {
  .title {
    font-size: 64px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 108px;
  }
}

html, body {
  font-family: 'Muli', sans-serif;
  background-color: $green;
  color: whitesmoke;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  color: whitesmoke;
  background-color: $green;

  small {
    font-size : 14px;
  }

  .container {
    border-top: .1em solid whitesmoke;
    padding: 15px;
    padding-bottom: 0;
  }

  a {
    color: whitesmoke;
  }
}
