#content {
  font-family: 'Muli', sans-serif;
  font-size: 28px;
  height: 100%;
  background-color: #2F8441;
}

.top-panel {
  background-color: #2F8441;
  color: whitesmoke;
}

.top-panel p {
  font-weight: bold;
}

.top-panel img {
  padding-top: .5em;
}

.top-panel .title {
  margin-top: 0;
  padding-top: 0.2em;
  font-family: 'Monoton', cursive;
  font-size: 108px;
}

.search-area {
  padding: 1em;
}

.lonely-panel {
  background-color: #55A466;
  color: whitesmoke;
}

.hook-panel {
  background-color: #86C493;
  color: whitesmoke;
}

/*.search-box {
  animation: move 3s ease;
}

@keyframes move {
  50% {
     transform: translate(0, 100px);
  }
}*/