#content {
  font-family: 'Muli', sans-serif;
  font-size: 28px;
  height: 100%;
  background-color: #2F8441;
}

.top-panel {
  background-color: #2F8441;
  color: whitesmoke;
}

.top-panel p {
  font-weight: bold;
}

.top-panel img {
  padding-top: .5em;
}

.top-panel .title {
  margin-top: 0;
  padding-top: 0.2em;
  font-family: 'Monoton', cursive;
  font-size: 56px;
}

@media (min-width: 380px) {
  .top-panel .title {
    font-size: 64px;
  }
}

@media (min-width: 768px) {
  .top-panel .title {
    font-size: 108px;
  }
}

.search-area {
  padding: 1em;
}

.search-results {
  margin-top: 1em;
}

.search-result {
  border: solid 1px;
  padding: 1em;
}

.lonely-panel {
  background-color: #55A466;
  color: whitesmoke;
}

.hook-panel {
  background-color: #86C493;
  color: whitesmoke;
}

.top-panel-message.fadeout {
  transition: font-size 2s, margin-top 1s, opacity 2s;
  margin-top: -20px;
  font-size: 0;
  opacity: 0;
}

.title.shrink {
  transition: font-size 2s;
  font-size: 48px;
}
