#content {
  font-family: 'Muli', sans-serif;
  font-size: 28px;
  height: 100%;
  background-color: #00B655;
  color: whitesmoke;
}

.search-panel, #footer {
  background-color: #00B655;
}

.search-panel p {
  font-weight: bold;
}

.search-panel img {
  padding-top: .5em;
}

.search-panel .title {
  margin-top: 0;
  padding-top: 0.2em;
  font-family: 'Monoton', cursive;
  font-size: 56px;
}

.search-home .search-area, .service-home .search-area {
  margin-top: 0;
}

.title a {
  color: white;
  text-decoration: none;
}

@media (min-width: 380px) {
  .search-panel .title {
    font-size: 64px;
  }
}

@media (min-width: 768px) {
  .search-panel .title {
    font-size: 108px;
  }
}

.search-area {
  padding: 1em;
  margin-top: 20px;
}

.search-results {
  margin-top: 1em;
}

.search-result {
  border: solid 1px;
  margin-right: 0.5%;
  margin-left: 0.5%;
  margin-bottom: 1em;
  word-wrap: break-word;
}

.search-result:hover {
  cursor: pointer;
}

.lonely-panel, .recent-panel, .popular-panel {
  background-color: #2ABB6D;
}

.hook-panel, .get-started-panel {
  background-color: #4EC987;
}

.search-panel-message.fadeout {
  transition: font-size 2s, margin-top 1s, opacity 2s;
  margin-top: -20px;
  font-size: 0;
  opacity: 0;
}

.title.shrink {
  transition: font-size 2s;
  font-size: 48px;
}

.service-area {
  margin-top: 1.5em;
}

.service-area .service-name {
  font-size: 44px;
  font-weight: bold;
}
.service-area .random-referral-code {
  margin-top: 2em;
}

.service-area .add-referral-code .btn-default {
  background-color: transparent;
  color: inherit;
  border-color: whitesmoke;
  margin-top: 5em;
}

.service-area .add-referral-code .btn-default:hover {
  opacity: 0.85;
}

.service-area .add-referral-code .btn-default span {
  margin-right: .5em;
}

.view-result a {
  color: white;
}

.get-started-panel .btn-default {
  font-size: 36px;
  background-color: transparent;
  color: inherit;
  border-color: whitesmoke;
  margin-top: .5em;
  margin-bottom: 2em;
  white-space: normal;
}

.get-started-panel .glyphicon-search {
  top: 5px;
  margin-right: .4em;
}

.recent-panel .container {
  border-top: solid whitesmoke;
}

.search-box .disabled {
  color: grey;
  font-style: italic;
  cursor: pointer;
}

#no-family:after,
#no-friends:after,
#no-followers:after {
  background:
     linear-gradient(-135deg,
         rgba(0,0,0,0) 0%,
         rgba(0,0,0,0) calc(50% - 2px),
         whitesmoke 50%,
         rgba(0,0,0,0) calc(50% + 2px),
         rgba(0,0,0,0) 100%),
     linear-gradient(-45deg,
         rgba(0,0,0,0) 0%,
         rgba(0,0,0,0) calc(50% - 2px),
         whitesmoke 50%,
         rgba(0,0,0,0) calc(50% + 2px),
         rgba(0,0,0,0) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
}

#no-family, #no-friends, #no-followers {
  width: 100%;
  height: 150px;
  background-size: 150px;
  padding: 3em;
}

#no-friends {
  background: url("/img/no-friends.png") no-repeat scroll 50% 50%;
}

#no-family {
  background: url("/img/no-family.png") no-repeat scroll 50% 50%;
}

#no-followers {
  background: url("/img/no-followers.png") no-repeat scroll 50% 50%;
}

#no-problem h1 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 1em;
}

#no-problem {
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (min-width: 768px) {
  .col-md-3-point-5 {
    width: 49%;
  }
}

@media (min-width: 992px) {
  .col-md-3-point-5 {
    width: 24%;
  }
}

.popular-panel .row, .recent-panel .row {
  padding-top: 1em;
  padding-bottom: .6em;
}

.popular-panel .search-result, .recent-panel .search-result {
  margin-top: .4em;
}

#footer .container {
  border-top: .05em solid whitesmoke;
  padding: 15px;
}

html, body {height: 100%;}

#wrap {min-height: 100%;}

#content {
  padding-bottom: 50px;
}

#footer {
  position: relative;
  margin-top: -50px;  negative value of footer height 
  min-height: 50px;
  height: 50px;
  clear:both;
  color: whitesmoke;
}

#footer a {
  color: whitesmoke;
}
